$menu-background-color: #f63; //edit this in theme.scss if needed
$menu-focus-text-color: yellow;
$menu-text-color: white;
$menu-font-weight: bold;
$menu-focus-font-style: italic;
$menu-li-width: 16.66666666%;
$menu-li-topBot-padding: 1em;

$focus-font-style: italic;

$mainHideLeft-margin: -100%;
$mainHideRight-margin: 100%;
$main-padding: 10px;

$slide-speed: 2.5s;

$single-column-width: 640px;
$narrow-phone-width: 350px;

$menu-z-index: 2;
$tooltip-z-index: 3;
$section-z-index: -1;

// ~~~~~~~~~~~~~~~~~~ OVERALL FORMATTING ~~~~~~~~~~~~~~~~~
* {
	margin: 0;
	padding: 0;
}
a:focus, a:hover {
	font-style: $focus-font-style;
}

// ~~~~~~~~~~~~~~~~~~ OVERALL LAYOUT ~~~~~~~~~~~~~~~~~
body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	width: 100vw;
}
main, footer {
	width: 100vw;
	margin: 0 auto;
}
footer {
	background-color: $menu-background-color;
	color: $menu-text-color;
	font-weight: $menu-text-color;
	padding: 1em 0;
	//position: fixed;
	//bottom: 0;
}
header {
	left: 0;
	width: 100vw;
	.headerBanner {
		width: 100%;
		overflow: hidden; //this keeps the h1 from bleeding off to the right
		h1 {
			background-color: $menu-background-color;
			padding-top: 20px;
			padding-bottom: 10px;
			text-align: center;
			color: $menu-text-color;
			letter-spacing: 2vw;
			transform:scale(1.2,1); 
		  	-webkit-transform:scale(1.2,1);
		  	@media screen and (min-width: $narrow-phone-width) {
				letter-spacing: 3vw;
			}
			@media screen and (min-width: $single-column-width) {
				letter-spacing: 4vw;
			}
		}
	}
}

// ~~~~~~~~~~~~~~~~~~ MENU ~~~~~~~~~~~~~~~~~

.slicknav_menu {
	display:block;
	@media screen and (min-width: $single-column-width) {
		display: none;
	}
}
// the styles for the navigation menu
.menu {
	display: none;
	width: 100%;
	z-index: $menu-z-index;
	cursor: pointer;
	@media screen and (min-width: $single-column-width) {
		display: block;
	}
	// all text
	color: $menu-text-color;
	a {
		font-style: normal;
		text-decoration: none;
		color: inherit;
	}
	// all li
	li {
		list-style-type: none;
		margin: 0;
		text-align: center;
		font-weight: $menu-font-weight;
		background-color: $menu-background-color;
		z-index: $menu-z-index;
		padding: $menu-li-topBot-padding 0; //assign padding to the parent (let padding be downstream in the other lis)
	}
	a, .navEndLink {
		&:focus, &:hover {
			color: $menu-focus-text-color;
			font-style: $menu-focus-font-style;
		}
	}
	ul { // .navUl1
		width: 100%;
		&::after {
			content: "";
			clear: both;
			display: block;
		}

		li { // .navLi1
			float: left; //list is horizontal
			display: block;
			width: $menu-li-width;
			position: relative;
			z-index: $menu-z-index;

			&:hover > .navUl2 { display: block; } // .navUl2

			.navUl2Hide { display: none; } // .navUl2 when hidden

			ul { // .navUl2
				width: 100%;
			    display: none;
			    position: absolute;
			    top: 100%;
			    z-index: $menu-z-index;

				li { // .navLi2
					width: 100%;
					float: none; //this makes the list vertical
					position: relative;
					z-index: $menu-z-index;

					&:hover > ul { display: block; } // .navUl3

					ul { // .navUl3
						display: none;
						width: 100%;
						position: absolute;
						top: 0%;
						left: 100%;
						z-index: $menu-z-index;

						li { // .navLi3
							//we don't need to do anything here
						} // .navLi3
					} // .navUl3
				} // .navLi2
			} // .navUl2
		} // .navLi1
	} // .navUl1
} // .menu

// Tooltip container
.tooltip {
    position: relative;
    display: inline-block;
    z-index: $tooltip-z-index;
	// Tooltip text
	.tooltiptext {
	    visibility: hidden;
	    position: absolute;
	    width: 200%; //of the menu li SPA
	    font-size: 75%; //of the menu li SPA
	    background-color: rgba(0,0,0,0.35);
	    color: white;
	    text-align: right;
	    padding: 5px;
	    border-radius: 15px 15px 0 15px;
	    bottom: 90%;
	    right: 100%;
	    z-index: $tooltip-z-index;
	}
	@media screen and (min-width: $single-column-width) {
		&:hover > .tooltiptext {
		    visibility: visible;
		} 
	}
}

// ~~~~~~~~~~~~~~~~~~ PER ELEMENT ~~~~~~~~~~~~~~~~~
main {
	padding-top: $main-padding;
	position: relative;
	h1 {
  		padding: 15px;
	} 
}

// ~~~~~~~~~~~~~~~~~~ CONTENTS WITHIN MAIN ~~~~~~~~~~~~~~~~~
section {
	width: 100%;
	z-index: $section-z-index;
	&:not(.mainShow) {
		max-height: 50vh;
		overflow: none;
	}
}
@mixin slide {
	-webkit-transition: $slide-speed;
	-moz-transition: $slide-speed;
	-ms-transition: $slide-speed;
	-o-transition: $slide-speed;
	transition: $slide-speed;
}
.mainHideLeft {
	position: absolute;
	margin-left: $mainHideLeft-margin;
	top: $main-padding;
	max-height: 500px;
	overflow: none;
}
.mainShow {
	position: relative;
	margin-left: 0;
	@include slide;
}
.mainHideRight {
	position: absolute;
	margin-left: $mainHideRight-margin;
	top: $main-padding;
	@include slide;
	max-height: 500px;
	overflow: none;
}
.rowHeader {
	text-align: center;
}

// ~~~~~~~~~~~~~~~~~~ PLACEHOLDER CONTENT ~~~~~~~~~~~~~~~~~
.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
.black {
  background-color: black;
  color: white;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}

.dev {
  background-color: none;
}
.devChallenge {
	color: red;
}
.devLearn {
	color: blue;
}
.devRow {
	height: auto;
}
.devNotes, .devNotes li {
	text-align: left;
	ul {
		padding-left: 30px;
		font-size: 90%;
		margin-bottom: 15px;
	}
}
.em {
	font-style: italic;
	text-decoration: underline;
}